/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.header {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #3f3f3f;
    color: #789dca;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 80%;
    position: relative;
}


/* .btn-box {
    position: relative;
} */

.result-btn {
    width: 100px;
    height: 100px;
    color: #1a5787;
    font-size: larger;
    background-color: #feab77;
    border: solid 0px;
    border-radius: 100%;
}

.result-btn:hover {
    border: solid 5px #789dca;
}

.change-btn {
    font-size: 22px;
    width: 110px;
    height: 110px;
    border: solid 10px;
    border-radius: 100%;
}

.change-btn:hover {
    background-color: beige;
}

.status {
    width: 50px;
    position: absolute;
    font-size: 18px;
    border-radius: 6px;
    top: 285px;
    left: 61.2%;
    background-color: beige;
    text-align: center;
}

.col-2 {
    width: 125px!important;
}

.hide {
    display: none;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bmi-title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.result-list {
    margin-top: 30px;
    width: 60%;
}

.result-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 50px;
    border: 1px solid #8b8b8b;
    margin-bottom: 5px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
}

span {
    text-align: center;
}

.calories {
    width: 16%;
}

.delete-btn {
    font-size: 15px;
    width: 10%;
    padding: 2px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #8b8b8b;
    color: #ECEFF1;
    background-color: #323234;
    border-radius: 5px;
}

.delete-all {
    color: #F3E5F5;
    width: 100px;
    border: 1px solid black;
    background-color: #4A148C;
    border-radius: 5px;
}

.green {
    background-color: #1B5E20;
    color: #A5D6A7;
}

.blue {
    background-color: #0D47A1;
    color: #90CAF9;
}

.yellow {
    background-color: #F9A825;
    color: #FFF59D;
}

.yellow-orange {
    background-color: #FF6F00;
    color: #FFE0B2;
}

.orange {
    background-color: #E65100;
    color: #FFAB91;
}

.red {
    background-color: #B71C1C;
    color: #EF9A9A;
}

.green-circle {
    border-color: #A5D6A7;
    color: #1B5E20;
}

.blue-circle {
    border-color: #90CAF9;
    color: #0D47A1;
}

.yellow-circle {
    border-color: #FFF59D;
    color: #F9A825;
}

.yellow-orange-circle {
    border-color: #FFAB91;
    color: #E65100;
}

.orange-circle {
    border-color: #FFAB91;
    color: #E65100;
}

.red-circle {
    border-color: #EF9A9A;
    color: #B71C1C;
}

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #3f3f3f;
    background-color: #789dca;
}